body {
  background-image: url('https://www.hitwest.com/upload/medias/Doctolib.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: 100%;
  width: 100%;
}

.integral {
  display: flex;
  flex-direction: column
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-top: 15%;
}

h2 {
  text-align: center;
  margin-top: 13%;
  padding-bottom: 5%;
}

button {
  background: linear-gradient(45deg, #0696DD, #03BBDF);
  height: 50px;
  width: 200px;
  margin: 0px 25px;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  border: 1px;
  cursor: pointer;
  transition: .3s;
}

button:hover {
  transform: scale(1.2);
  transition: .3s;
}

#change_page {
  border: 2px solid #fff;
}

.colorWhite {
  color: #fff;
}

.megafont {
  font-size: 3rem;
}

.buttonContainer{
  display: flex;
  flex-shrink: 0.8;
  justify-content: center;
}

.buttonContainer2{
  display: flex;
  flex-shrink: 0.8;
  justify-content: flex-end;
  margin-top: 50%;
}

.warningText{
  text-align: center;
  font-size: 1.3rem;
}

.treatments{
  text-align: center;
}

.treatments2{
  margin-top: 150px;
}

.treatments3{
  margin-top: 180px;
}